@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Work+Sans:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  width: 100vw;
  margin: 0 auto;
  min-height: 100vh;
  background-color:  #F3E4E1;
  font-family: 'PT Serif', serif;
}

p {
  font-family: 'Work Sans', sans-serif;
}

article {
  min-height: 100vh;
  padding: 0 2rem;
  position: relative;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.4375rem;
  margin-bottom: .25rem;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 31.25rem;
  margin: auto;
}

form input {
  padding: .5rem;
  margin: .5rem
}

hr {
  margin: 3rem 0;
  opacity: .6;

}

.start {
  background-color: #38846D;
  background-image: url("./assets/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-text {
  font-size: .75rem;
  margin-top: .25rem;
}

.navigation {
  background-color: black;
  color: white;
  text-align: center;  
  display: flex;
  flex-direction: column;
  animation: slide .8s;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  padding: 0
}

.navigation ul a {
  color: white;
  padding: 2rem;
  font-weight: 700;
  font-size: 32px;
  line-height: 2.375rem;
}

.top-btn {
  border-radius: 50%;
  margin: 1rem;
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cartNo{
  width: 1.5rem;
  height: 1.5rem;
  background-color: red;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  border-radius: 50%;
  text-align: center;
  color: white
}

.btns-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-image: url("./assets/header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 9rem;
  position: relative;
}

footer {
  transform: rotateZ(180deg);
}
.top-btn-right {
  background-color: black;
  overflow: hidden;
  color: white;
}

.top-btn-add {
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
  align-self: center;
}

.products {
  padding: 1rem
}

.card {
  max-width: 100%;
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}

.card > h2 {
  margin-left: auto;
}

.order-view {
  padding: 2rem;
  margin: 1rem;
  background-color: white;
}
.cartCard {
  display: flex;
  justify-content: space-between;
}

.order-confirmation {
  background-color: #E5674E;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.order-confirmation h5{
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 1.375rem;
}

.order-confirmation h5 span {
  font-weight: 900;
}

.order-confirmation button{
  font-size: 1.5rem;
  border-radius: 50px;
}

.guest-card {
  display: flex;
  justify-content: space-between;

}

.guest-card div {
  max-width: 12.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.guest-card div p {
  padding: 0 1rem
}

.guest-order-total {
  text-align: center;
}

.about h1{
  text-align: left;
}

.about section, .login, .error {
  text-align: center;
  padding: 1rem 0;
  margin: auto
}

.popup {
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
  z-index: 50;
  background-color:#F3E4E1;
  min-height: 50vh;
  border-radius: 5px;
  padding: 2rem 1rem;
  margin: 1rem auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 80%
}

.popup .top-btn {
  margin-left: auto;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.flex button {
  margin: .5rem
}

.profile .popup-card .hide {
  display: none;
}

.profile-container {
  background-color: black;
}

.myprofile {
  text-align: center;
  color: white
}

.order-history {
  text-align: start;
}

.order-history hr {
  margin: 1rem 0;
  opacity: .2;
}

.order-history div {
  color: gray;
  display: flex;
  justify-content: space-between;
  line-height: normal;
  margin: 0
}

.order-history div * {
  margin: 0;
  padding: 0
}
.signup {
  border-radius: 5px;
  padding: 2rem 1rem;
  margin: 1rem auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.signup .circle {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.signup form label {
  font-family: "Work sans";
  font-size: .75rem;
  text-align: start;

}

.signup form input {
  margin: 0 0 .5rem 0;
  background-color: transparent;
  border: 1px solid black;
  outline: 1px;
  border-radius: 5px;
  padding: 1rem
}

.signup form div {
  display: flex;
  padding: 1rem 0;
  align-items: center;
}
.signup form input[type="radio"] {
  margin: 0 .5rem 0 0
}

.signup .signup-btn {
  color: white;
  background-color: black;
  border-radius: 50px;
  width: 15.625rem;
  font-size: 1.5rem;
}





@keyframes slide {
  0% {
    transform: translateX(-25rem);

  }
  100% {
    transform: translateX(0);
  }

}